In [6]:
import sqlite3
import pandas as pd
import numpy as np

In [4]:
conn=sqlite3.connect('database.sqlite')

In [8]:
d=pd.read_sql("select * from Reviews limit 100",conn)

In [9]:
d.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [10]:
d=pd.read_sql("select * from Reviews where Score!=3 limit 10000",conn)

In [11]:
d.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [12]:
d.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,10000.000000,10000.000000,10000.000000,10000.00000,1.000000e+04
mean,5452.858300,1.558900,1.967100,4.23850,1.294788e+09
std,3161.937943,4.847461,5.344799,1.34499,4.746094e+07
min,1.000000,0.000000,0.000000,1.00000,9.617184e+08
25%,2720.750000,0.000000,0.000000,4.00000,1.269972e+09
50%,5427.500000,0.000000,1.000000,5.00000,1.308182e+09
75%,8190.250000,2.000000,2.000000,5.00000,1.330387e+09
max,10926.000000,165.000000,168.000000,5.00000,1.351210e+09

In [13]:
d.shape

(10000, 10)

In [14]:
def partition(x):
    if x>3:
        return 1
    else:
        return 0

In [15]:
act=d['Score']
b=act.map(partition)
d['Score']=b

In [16]:
d.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,1,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,1,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,0,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,1,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [18]:
d['Score'].value_counts()

1    8321
0    1679
Name: Score, dtype: int64

In [19]:
e=d.sort_values('ProductId')

In [20]:
e.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
2547,2775,B00002NCJC,A13RRPGE79XFFH,reader48,0,0,1,1281052800,Flies Begone,We have used the Victor fly bait for 3 seasons...
2546,2774,B00002NCJC,A196AJHU9EASJN,Alex Chaffee,0,0,1,1282953600,thirty bucks?,Why is this $[...] when the same product is av...
1145,1244,B00002Z754,A3B8RCEI0FXFI6,B G Chase,10,10,1,962236800,WOW Make your own 'slickers' !,I just received my shipment and could hardly w...
1146,1245,B00002Z754,A29Z5PI9BW2PU3,Robbie,7,7,1,961718400,Great Product,This was a really good idea and the final prod...
8695,9526,B00005V3DC,APASCXWTM041,Ed Raton,0,0,1,1350604800,"Good, effective product","Good flavor, unique in all the teas that I've ..."

In [24]:
f=e.drop_duplicates(subset={"ProfileName","Score","Text"})

In [25]:
f.shape

(9559, 10)

In [26]:
f=f[f.HelpfulnessNumerator<=f.HelpfulnessDenominator]
f.shape

(9559, 10)

In [27]:
a=f['Text']

In [112]:
b=a[18]

In [113]:
import  re

In [114]:
b=re.sub(r"http\S+","",b)

In [115]:
b

'Twizzlers, Strawberry my childhood favorite candy, made in Lancaster Pennsylvania by Y & S Candies, Inc. one of the oldest confectionery Firms in the United States, now a Subsidiary of the Hershey Company, the Company was established in 1845 as Young and Smylie, they also make Apple Licorice Twists, Green Color and Blue Raspberry Licorice Twists, I like them all<br /><br />I keep it in a dry cool place because is not recommended it to put it in the fridge. According to the Guinness Book of Records, the longest Licorice Twist ever made measured 1.200 Feet (370 M) and weighted 100 Pounds (45 Kg) and was made by Y & S Candies, Inc. This Record-Breaking Twist became a Guinness World Record on July 19, 1998. This Product is Kosher! Thank You'

In [116]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(b)
b=soup.get_text()

In [117]:
b

'Twizzlers, Strawberry my childhood favorite candy, made in Lancaster Pennsylvania by Y & S Candies, Inc. one of the oldest confectionery Firms in the United States, now a Subsidiary of the Hershey Company, the Company was established in 1845 as Young and Smylie, they also make Apple Licorice Twists, Green Color and Blue Raspberry Licorice Twists, I like them allI keep it in a dry cool place because is not recommended it to put it in the fridge. According to the Guinness Book of Records, the longest Licorice Twist ever made measured 1.200 Feet (370 M) and weighted 100 Pounds (45 Kg) and was made by Y & S Candies, Inc. This Record-Breaking Twist became a Guinness World Record on July 19, 1998. This Product is Kosher! Thank You'

In [118]:
b=re.sub(r"\S*\d\S*","",b)
b

'Twizzlers, Strawberry my childhood favorite candy, made in Lancaster Pennsylvania by Y & S Candies, Inc. one of the oldest confectionery Firms in the United States, now a Subsidiary of the Hershey Company, the Company was established in  as Young and Smylie, they also make Apple Licorice Twists, Green Color and Blue Raspberry Licorice Twists, I like them allI keep it in a dry cool place because is not recommended it to put it in the fridge. According to the Guinness Book of Records, the longest Licorice Twist ever made measured  Feet  M) and weighted  Pounds  Kg) and was made by Y & S Candies, Inc. This Record-Breaking Twist became a Guinness World Record on July   This Product is Kosher! Thank You'

In [119]:
b=re.sub("[^A-Za-z]"," ",b)
b

'Twizzlers  Strawberry my childhood favorite candy  made in Lancaster Pennsylvania by Y   S Candies  Inc  one of the oldest confectionery Firms in the United States  now a Subsidiary of the Hershey Company  the Company was established in  as Young and Smylie  they also make Apple Licorice Twists  Green Color and Blue Raspberry Licorice Twists  I like them allI keep it in a dry cool place because is not recommended it to put it in the fridge  According to the Guinness Book of Records  the longest Licorice Twist ever made measured  Feet  M  and weighted  Pounds  Kg  and was made by Y   S Candies  Inc  This Record Breaking Twist became a Guinness World Record on July   This Product is Kosher  Thank You'

In [120]:
b=re.sub("[^A-Za-z]+"," ",b)
b

'Twizzlers Strawberry my childhood favorite candy made in Lancaster Pennsylvania by Y S Candies Inc one of the oldest confectionery Firms in the United States now a Subsidiary of the Hershey Company the Company was established in as Young and Smylie they also make Apple Licorice Twists Green Color and Blue Raspberry Licorice Twists I like them allI keep it in a dry cool place because is not recommended it to put it in the fridge According to the Guinness Book of Records the longest Licorice Twist ever made measured Feet M and weighted Pounds Kg and was made by Y S Candies Inc This Record Breaking Twist became a Guinness World Record on July This Product is Kosher Thank You'

In [121]:
stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [128]:
from tqdm import tqdm
preprocessed_reviews = []
# tqdm is for printing the status bar
for sentance in tqdm(f['Text'].values):
    sentance = re.sub(r"http\S+", "", sentance)
    sentance = BeautifulSoup(sentance, 'lxml').get_text()
    
    sentance = re.sub("\S*\d\S*", "", sentance).strip()
    sentance = re.sub('[^A-Za-z]+', ' ', sentance)
    # https://gist.github.com/sebleier/554280
    sentance = ' '.join(e.lower() for e in sentance.split() if e.lower() not in stopwords)
    preprocessed_reviews.append(sentance.split())

100%|████████████████████████████████████████████████████████████████████████████| 9559/9559 [00:03<00:00, 2858.67it/s]

In [129]:
type(preprocessed_reviews[0])

str

In [131]:
preprocessed_reviews[0]

'used victor fly bait seasons beat great product'

In [135]:
y=f['Score']

In [137]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection

In [143]:
X,xtest,Y,ytest=model_selection.train_test_split(preprocessed_reviews,y,test_size=0.3,random_state=0)

In [149]:
xtr,xcv,ytr,ycv=model_selection.train_test_split(X,Y,test_size=0.3,random_state=0)

In [154]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer(min_df=10, max_features=500) #in scikit-learn CountVectorizer(min_df=10, max_features=500) 
X_tr1=count_vect.fit_transform(xtr)
X_cv1=count_vect.transform(xcv)
X_test1=count_vect.transform(xtest)

In [155]:
list_of_sentancetr=[]
for sentance in xtr:
    list_of_sentancetr.append(sentance.split())

In [157]:
from gensim.models import Word2Vec
w2v_model=Word2Vec(list_of_sentancetr,min_count=5,size=50, workers=4)
print(w2v_model.wv.most_similar('great'))
print('='*50)
print(w2v_model.wv.most_similar('worst'))

C:\Users\aksha\Anaconda3\lib\site-packages\gensim\utils.py:1209: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")
C:\Users\aksha\Anaconda3\lib\site-packages\gensim\matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int32 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('excellent', 0.9950219392776489), ('wonderful', 0.9937452077865601), ('looking', 0.9930293560028076), ('definitely', 0.992936372756958), ('value', 0.9924868941307068), ('think', 0.9921671152114868), ('quick', 0.9921633005142212), ('definately', 0.9917817115783691), ('crunch', 0.9917670488357544), ('something', 0.9915726184844971)]
==================================================
[('yet', 0.9995144605636597), ('however', 0.9995071291923523), ('absolutely', 0.9995057582855225), ('varieties', 0.9994763135910034), ('superior', 0.99947589635849), ('double', 0.9994114637374878), ('normal', 0.9994008541107178), ('ready', 0.9993919730186462), ('left', 0.9993738532066345), ('surprised', 0.9993721842765808)]

In [158]:
w2v_words = list(w2v_model.wv.vocab)